<!DOCTYPE html>
<html style="padding-left: 25px;height:95%;">
<head>
<meta charset="utf-8" />
<title>about</title>
<style>
body{
    font-size: 20px;
    color: rgb(51, 51, 51);
}
.note {
    margin-top: -15px;
    width: 100%;
    background: linear-gradient(rgb(204, 204, 204) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: auto 2em;
    line-height: 2em;
    overflow: hidden;
}
.note-table{
    border-collapse: collapse;
    height:100%;
    width:100%;
}
.note-table tr{
    border-bottom: 1px solid rgb(204, 204, 204);
}
.note-table td{
    vertical-align: bottom;
}
</style>
</head>
<body style="height: 100%;">

<h2>Javascriptカレンダー</h2>
<p style="font-weight: bold;margin-top: 30px;">ソース</p>
非公開
<p style="font-weight: bold;margin-top: 30px;">説明</p>
<table class="note-table" style="height:24%; padding-left: 10px;">
    <tr><td>スケジュール管理画面です。 </td></tr>
    <tr><td>ドラッグによる日程選択からスケジュールを登録できます。</td></tr>
    <tr><td>左ページはデータの作成、編集、削除が可能です。</td></tr>
    <tr><td>ご自由にお試しください。</td></tr>
</table>

<p style="font-weight: bold;margin-top: 30px;">使用した技術</p>
<div>
    <img src="/static/img/html5-icon.png" style="height:120px;width:130px;"></img>
    <img src="/static/img/css3-icon.png" style="height:120px;width:130px;"></img>
    <img src="/static/img/jquery-icon.png" style="height:120px;width:230px;"></img>
    <img src="/static/img/python-icon.png" style="height:120px;width:270px;"></img>
    <img src="/static/img/django-icon.png" style="height:120px;width:140px;"></img>
</div>


</body>
</html>