<html style="overflow: hidden;">
<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
body {
  margin : 0px;
}
body .labelCol {
  padding: 5px 0px !important;
  vertical-align: middle !important;
}
body .dataCol {
  padding: 5px 0px !important;
  vertical-align: middle !important;
}
.not-user-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
div,span,table,tbody,tr,th,td,b,p {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.bPageBlock {
  margin: 0px !important;
}

.display-out {
  top: -9999px !important;
  left: -9999px !important;
}
.display-none {
  display: none;
}
.cell-time-data {
  visibility:hidden;
}
.calendar-cell {
  background-color: #CFEFEF;
}
.out-month {
  color: #AAAAAA;
}
.taian {
  color: #FF0000;
}
.cell-date-label {
  float: left;
}
.rokuyo-label {
  float: left;
}
.add-active-link {
  cursor: pointer;
  padding-right: 5px;
  float: right;
  color: #777777 !important;
  position: relative;
  z-index: 1;
}
.out-month .taian {
  color: #FFAAAA;
}
.saturday {
  background-color : #EFEFFF;
}
.sunday {
  background-color : #FFEFEF;
}
.today-cell {
  background-color : #FFFFAA !important;
}
.today-cell-area {
  height:100%;
}
.selectedCell {
  background-color : #FFC3C3 !important;
}
.main-container { 
  height: 100%;
}
.button-table {
  border-collapse: collapse;
}
.date-nav-today {
  width: 46px;
  vertical-align: middle;
}
.date-nav-prev {
  padding-left:10px;
  width:35px;
  vertical-align: middle;
}
.date-nav-next {
  width:35px;
  vertical-align: middle;
}
.date-nav-label {
  padding-left:10px;
}
.daily-button {
  line-height:32px;
  border: 1px #CFCFCF solid;
  height: 32px;
  width: 100%;
  background-color : #F2F2F2;
  cursor:pointer;
  text-align: center;
}
.daily-button-today {
  width: 48px;
}
.daily-button-prev {
  width: 37px;
}
.daily-button-next {
  width: 37px;
}
.date-nav-next .daily-button {
  margin: 0 0 0 -1px;
}
.view-condition-col {
  padding-left: 50px;
}
.view-condition-label {
  vertical-align: middle;
  border: 1px #CFCFCF solid;
  height: 100%;
  width: 100%;
  background-color : #F2F2F2;
}
.daily-button:hover {
  background-color : #F8F8F8;
}
.currentdate-label {
  width: 80px;
  white-space:nowrap;
}
table.dayname-table {
  background-color: #fff;
  color: #555;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
table.dayname-table th.dayname {
  font-size: 1em;
  text-align: left;
  padding: 0 0 0 2px;
  border: 1px None solid;
  border-collapse: collapse;
}
.data-container {
  overflow: hidden;
  position: relative;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  min-height: 500px;
  height: auto !important;  
  height: 500px;
  border-bottom: 1px #DDDDDD solid;
}
.event-container {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: default;
  z-index: 1;
  opacity: .5;
  filter: alpha(opacity=50);
}
.event-Calendar {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.month-row {
  position: absolute;
  left: 0px;
  width: 100%;
  overflow: hidden;
}
table.bg-table {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  background-color:white;
  border-collapse: collapse;
}
.bg-cell {
  border: 1px #DDDDDD solid;
}
table.week-table {
  position: relative;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
table.week-table td {
  vertical-align : top;
  overflow: hidden;
  padding: 0px 1px;
  border: 1px none solid;
}
.belt-bg {
  padding: 1px 2px 0px 2px;
  font-family: Arial,Meiryo,sans-serif;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.no-border-r {
  border-right: none !important;
}
.no-border-l {
  border-left: none !important;
}
.belt-body {
  background-color : #CCFFCC;
  border:2px #99DD99 solid;
  cursor: pointer;
  height: 14px;
  line-height: 1.2;
}
.belt-label {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size:12px;
}
.belts-link {
  cursor: pointer;
  color: #1050c0;
  font-size: 11px;
  position: relative;
  z-index: 1;
}
.event-bubble {
  padding:25px;
  width: auto !important;
  background-color : rgba(255, 255, 255, 0.5);
  border: 3px rgba(255, 165, 0, 0.5) solid !important;
  border-radius:2%;
  position: absolute;
  top: 140px;
  left: 55px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  z-index: 100;
}
.event-bubble * {
  margin-top:7px;
  height:23px;
}
.event-bubble-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.col2Field {
  width:200%;
}
.promo-name {
  width: 200px;
}
.belt {
  height : 10px !important;
  background-color : #DDFFDD !important;
}
.belts-link-bubble {
  width: 225px;
  background-color : #FFFFFF;
  border: 1px #DDDDDD solid !important;
  position: absolute;
  top: 140px;
  left:55px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  z-index: 1;
}
.belts-bubble-header {
  width: 100%;
  background-color : #E8EEF8 !important; 
}
.belts-bubble-close {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 3px;
}
.reload {
  background: url(/img/alohaSkin/sync.png) top left no-repeat !important;
  width: 18px !important;
  height: 14px !important;
  background-position: 4px -40px !important;
  vertical-align: bottom !important;
}
.blets-bubble-datelabel {
  font-family: Arial, Meiryo, sans-serif;
  font-size: 11px;
}
.belts-bubble-belts {
  padding: 5px 3px 5px 3px;
}
.active-bubble {
  min-width: 640px;
  width: auto !important;
  width: 640px;
  background-color : #FFFFFF;
  border: 1px #DDDDDD solid !important;
  position: absolute;
  top: 140px;
  left: 55px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  z-index: 100;
}
.active-bubble-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.bubble-close {
  width: 15px !important;
  height: 15px !important;
  background-position: 0px 0px !important;
}
.bubble-close:hover {
  background-position: 0px -16px !important;
}
.arlist-bubble {
  min-width: 640px;
  width: auto !important;
  width: 640px;
  background-color : #FFFFFF;
  border: 1px #DDDDDD solid !important;
  position: absolute;
  top: 140px;
  left: 55px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  z-index: 100;
}
.arlist-bubble-close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.arlist-header {
  font-size: 1.2em;
  font-weight: bold;
}
.arlist-button-new {
  margin-left: 30px;
}
.arlist-button-edit {
  text-align: center;
}
.arlist-button-img {
  text-align: center;
}
</style>

<script>
var SUNDAY = 0;
var MONDAY = 1;
var SATURDAY = 6;
var firstDay = MONDAY;
var lastDay = (firstDay === 0) ? 6 : firstDay - 1;

//帯リンクを表示させる条件値を計算するために用いる。帯の高さやカレンダーの最小の高さを変えた場合は調整が必要。
var MIN_ROW_HEIGHT = 50;
var BELT_HEIGHT = 20;
var DIVISOR = 5.5;

//クラス名(clsXX)からsObjectのidを取得するための連想配列
var cls2SObjId = [];
//sObjectのidからsObjectを取得するための連想配列
var sObjId2Event = [];
//クラス名(bLinkXX)から帯リンクを取得するための連想配列。帯リンククリック時に使用。
var cls2BeltLink = [];

//Date拡張
Date.prototype.omitDate = function() {
  return new Date(this.getFullYear(), this.getMonth(), this.getDate());
};
Date.prototype.addDate = function(addNum) {
  return new Date(this.getTime() + addNum * 24 * 60 * 60 * 1000);
};
Date.prototype.addMonth = function(addNum) {
  return new Date(this.getFullYear(), this.getMonth() + addNum, this.getDate());
};
Date.prototype.omitAddDate = function(addNum) {
  var omitDate = this.omitDate();
  return this.addDate.call(omitDate, addNum);
};
Date.prototype.getDayLabel = function() {
  return ['日', '月', '火', '水', '木', '金', '土'][this.getDay()];
};
Date.prototype.getJapaneseYearMonthLabel = function() {
  return this.getFullYear() + '年' + (this.getMonth() + 1) + '月';
};
Date.prototype.getJapaneseDateLabel = function() {
  return this.getFullYear() + '年' + (this.getMonth() + 1) + '月' + this.getDate() + '日';
};
Date.prototype.getJapaneseDateDayLabel = function() {
  return (this.getMonth() + 1) + '月' + this.getDate() + '日（' + this.getDayLabel() + '曜日）';
};
Date.prototype.dateToString = function() {
  return String(this.getFullYear()) + '-' + String(this.getMonth() + 1).leftPad(2, '0') + '-' + String(this.getDate()).leftPad(2, '0');
};
Date.prototype.isSameDate = function(date) {
  return this.getTime() == date.getTime();
};

//String拡張
String.prototype.times = function(num) {
  var a = [];
  for (var i = 1; i <= num; i++) {
    a.push(this); 
  }
  return a.join('');
};
String.prototype.leftPad = function(len, padChar) {
  var sub = len - this.length;
  if (sub <= 0) {
    return String(this);
  }
  return padChar.times(sub) + this;
};

/** リストユーティリティ */
var ArrayUtils = {};

//指定した長さのリストを指定された値で初期化して返します。
ArrayUtils.getInitArray = function(length, init) {
  var ret = new Array(length);
  for (var i = 0; i < ret.length; i++) {
    ret[i] = init;
  }
  return ret;
};
ArrayUtils.hashLength = function(arr) {
  var len = 0;
  for (var val in arr) {
    len++;
  }
  return len;
};

/** カレンダーユーティリティ */
var CalendarUtils = {};

//受け取った日付を表示するカレンダーの最初の日付を返します。
CalendarUtils.getCalendarFirstDate = function(year, month){
  var firstDate = new Date(year, month, 1);
  return firstDate.omitAddDate((firstDay <= firstDate.getDay()) ? firstDay - firstDate.getDay() : (firstDay - firstDate.getDay()) - 7);
};

//受け取った日付を表示するカレンダーの最後の日付を返します。
CalendarUtils.getCalendarLastDate = function(year, month) {
  var lastDate = new Date(year, month + 1, 0);
  return lastDate.omitAddDate((lastDay >= lastDate.getDay()) ? lastDay - lastDate.getDay() : 7 + lastDay - lastDate.getDay());
};

//曜日の配列を返します。曜日はwindow.firstDayを先頭とします。
CalendarUtils.getDayArray = function(firstDay) {
  var days = new Array(7);
  var dayName = ['日', '月', '火', '水', '木', '金', '土'];
  for (var i = 0; i < days.length; i++){
    days[(i < firstDay) ? i + 7 - firstDay : i - firstDay] = dayName[i]; 
  }
  return days;
};

//２つの日付間の日数を返します。
CalendarUtils.getAmongDates = function(startDate, endDate) {
  return (endDate.omitAddDate(1).getTime() - startDate.omitAddDate(0).getTime())/(1000 * 60 * 60 * 24);
};

//モデル：カレンダーのセル
var CalendarCell = function(date, outMonth) {
  this._date = date;
  this._outMonth = outMonth;
};

//モデル：カレンダーの行
var CalendarRow = function(cells, belts) {
  this._cells = cells;
  this._belts = belts;
  this._beltsLinks = [];
  this._top = 0;
  this._height = 0;
  
  this.getStartDate = function() {
    return cells[0]._date;
  };
  this.getEndDate = function() {
    return cells[6]._date;
  };
  this.getCellIndex = function(date) {
    var index = 0;
    while(date.getTime() !== this.getStartDate().addDate(index).getTime()) {
      index++;
      if (index > 7) break;
    }
    return index;
  };
  
  this.getVisibleRowNum = function() {    
    var currentHeight = jQuery('.data-container').outerHeight() / DIVISOR;
    return Math.floor((currentHeight - MIN_ROW_HEIGHT) / BELT_HEIGHT) + 1;
  };
  
  //最低限の行数になるように帯を設置するためのリストを返します。
  this.createBeltArray = function() {
    var visibleRow = this.getVisibleRowNum() - 1;
    //曜日毎に帯情報を格納し、帯が全て表示できない場合のリンクを作成するために使います。
    this._beltsLinks = [];
    for (var k = 0; k < 7; k++) {
      this._beltsLinks[k] = new BeltsLink(cells[k]._date);
    }
    
    beltArray = [ArrayUtils.getInitArray(7, '')];
    for (var i = 0; i < this._belts.length; i++) {
      var row = 0;
      var isSetted = false;
      var index = this.getCellIndex(this._belts[i]._startDate);

      while (!isSetted) {
        var setAble = true;
        //現在の行に帯を表示できるかチェック
        for (var j = index, lastIndex = index + this._belts[i].getLength(); j < lastIndex; j++) {
          if (!!beltArray[row][j]) {
            setAble = false;
            break;
          }
        }
        //表示可能であればリストに設定。先頭：beltオブジェクト,それ以降length分’setted’文字列
        if (setAble) {
          for (j = index, lastIndex = index + this._belts[i].getLength(); j < lastIndex; j++) {
            if (j == index) {
              beltArray[row][j] = this._belts[i];
              isSetted = true;
            } else {
              beltArray[row][j] = 'setted';
            }
            
            this._beltsLinks[j].pushBelt(this._belts[i]);
            if (row <= visibleRow) {
              this._beltsLinks[j].addCount();
            }
          }
        //表示できないのであれば次の行をチェック
        } else {
          if (beltArray.length == (row + 1)) beltArray.push(ArrayUtils.getInitArray(7, ''));
          row++;
        }
      }
    }
    return beltArray;
  };
  
  //行HTMLを作成して返します。
  this.createBeltTable = function() {
    var htmlText = [];
    var beltArray = this.createBeltArray();
    var visibleRow = this.getVisibleRowNum();
    
    var isAddBeltsLink = false;
    if (visibleRow < beltArray.length) {
      var before = beltArray.length;
      beltArray.splice(visibleRow, beltArray.length);
      isAddBeltsLink = true;
    }
  
    for (var i = 0; i < beltArray.length; i++) {
      htmlText.push('<tr>');
      for (var j = 0; j < 7; j++) {
        if (beltArray[i][j] === null) {
          continue;
        }
        
        if (beltArray[i][j] instanceof CalendarBelt) {
          if (beltArray[i][j].getLength() != 1) {
            htmlText.push('<td colspan="' + beltArray[i][j].getLength() + '">');
          } else {
            htmlText.push('<td>');
          }
          htmlText.push(beltArray[i][j].getBeltHtml(null));
          htmlText.push('</td>');
          beltArray[i][j] = null;
          continue;
        }
        
        if (beltArray[i][j] == 'setted') {
          beltArray[i][j] = null;
          continue;
        }
        
        if (beltArray[i][j] === '') {
          beltArray[i][j] = null;
          for (var k = i + 1; k < beltArray.length; k++) {
            if (beltArray[k][j] !== '') {
              break;
            } else {
              beltArray[k][j] = null;
              continue;
            }
          }
          if (k == (i + 1)) {
            htmlText.push('<td></td>');
          } else {
            htmlText.push('<td rowspan="' + (k - i) + '"></td>');
          }
          continue;
        }
      }
      htmlText.push('</tr>');
    }
    
    if (isAddBeltsLink) {
      htmlText.push('<tr>');
      for (var l = 0; l < 7; l++) {
        var unvisibleCount = this._beltsLinks[l].getUnvisibleCount();
        if (unvisibleCount === 0) {
          htmlText.push('<td></td>');
        } else {
          var key = 'bLink' + ArrayUtils.hashLength(cls2BeltLink);
          cls2BeltLink[key] = this._beltsLinks[l];
          htmlText.push('<td>');
          htmlText.push('<span class="belts-link ' + key + '">他' + unvisibleCount + '件</span>');
          htmlText.push('</td>');
        }
      }
      htmlText.push('</tr>');
    }
    
    return htmlText.join('');
  };
};

//モデル：帯リンク
var BeltsLink = function(date) {
  this._belts = [];
  this._visibleCount = 0;
  this._date = date;
  
  this.pushBelt = function(belt) {
    this._belts.push(belt);
  };
  this.addCount = function() {
    this._visibleCount++;
  };
  this.getVisibleCount = function() {
    return this._visibleCount;
  };
  this.getUnvisibleCount = function() {
    return this._belts.length - this._visibleCount;
  };
  this.hideBeltsBubble = function() {
    jQuery('.belts-link-bubble').addClass('display-out').empty();
  };
  this.showBeltsBubble = function(e) {
    this.hideBeltsBubble();
    this.createBubbleHtml();
    this.move(e.clientX, e.clientY);
    jQuery('.belts-link-bubble').removeClass('display-out');
  };
  this.createBubbleHtml = function() {
    var bubbleHtml = [];
    bubbleHtml.push('<div class="belts-bubble-header">');
    bubbleHtml.push('<div class="bubble-close belts-bubble-close">');
    bubbleHtml.push('</div>');
    bubbleHtml.push('<div class="blets-bubble-datelabel">');
    bubbleHtml.push(this._date.getJapaneseDateDayLabel());
    bubbleHtml.push('</div>');
    bubbleHtml.push('</div>');
    bubbleHtml.push('<div class="belts-bubble-belts">');
    for (var i = 0; i < this._belts.length; i++) {
      bubbleHtml.push(this._belts[i].getBeltHtml(this._date));
    }
    bubbleHtml.push('</div>');
    jQuery('.belts-link-bubble').append(bubbleHtml.join(''));
    jQuery('.belts-bubble-close').click(this.hideBeltsBubble);
  };
  this.move = function(x, y) {
    var jBeltsLinkBubble = jQuery('.belts-link-bubble');
    
    var sfdcX = 10;
    var scrollLeft = jQuery(document).scrollLeft();
    var left = x - jBeltsLinkBubble.outerWidth()/2 - sfdcX + scrollLeft;
    if (left <= 0) {
      left = sfdcX;
    } else if ( x + jBeltsLinkBubble.outerWidth()/2 - sfdcX + scrollLeft >= jQuery('.calendar').outerWidth()) {
      left = jQuery('.calendar').outerWidth() - jBeltsLinkBubble.outerWidth() + sfdcX;
    }
    
    var distance = 5;
    var sfdcY = -100;
    var scrollTop = jQuery(document).scrollTop();
    var top;
    if (y - jBeltsLinkBubble.outerHeight() - distance + sfdcY + scrollTop <= 0) {
      top = y + distance + sfdcY + scrollTop;
    } else {
      top = y - jBeltsLinkBubble.outerHeight() - distance + sfdcY + scrollTop;
    }
    
    jBeltsLinkBubble.css('left', left);
    jBeltsLinkBubble.css('top', top);
  };  
};

//モデル：カレンダーの帯
var CalendarBelt = function(sObject, startDate, endDate) {
  this._sObject = sObject;
  this._startDate = startDate; //帯の開始日付
  this._endDate = endDate;     //帯の終了日付
  
  this.getSObjectStartDate = function() {
    return this._sObject.getStartDate();
  };
  this.getSObjectEndDate = function() {
    return this._sObject.getEndDate();
  };
  this.getName = function() {
    return this._sObject.getContent(); 
  };
  
  this.getLength = function() {
    return (this._endDate.addDate(0).getTime() - this._startDate.getTime())/(1000 * 60 * 60 * 24) + 1;
  };
  this.isBeforeStart = function() {
    return this._sObject.getStartDate() < this._startDate;
  };
  this.isAfterEnd = function() {
    return this._sObject.getEndDate() > this._endDate;
  };
  this.isTodayStart = function(date) {
    return this.getSObjectStartDate().getTime() == date.getTime(); 
  };
  this.isTodayEnd = function(date) {
    return this.getSObjectEndDate().getTime() == date.getTime(); 
  };
  this.getBodyClass = function(date) {
    var cls = sObjId2Event[this._sObject.getId()]._cls;
    var bodyClass = 'belt-body ' + cls;
    if (date === null) {
      bodyClass += ' calendar-belts';
      if (this.isBeforeStart()) {
        bodyClass += ' no-border-l';
      }
      if (this.isAfterEnd()) {
        bodyClass += ' no-border-r';
      }
    } else {
      if (!this.isTodayStart(date)) {
        bodyClass += ' no-border-l';
      }
      if (!this.isTodayEnd(date)) {
        bodyClass += ' no-border-r';
      }
    }
    return bodyClass;
  };
  this.getBeltHtml = function(date) {
    var beltHtml = [];
    beltHtml.push('<div class="belt-bg">');
    beltHtml.push('<div class="' + this.getBodyClass(date) + '">');
    beltHtml.push('<div class="belt-label">');
    beltHtml.push(this.getName());
    beltHtml.push('</div>');
    beltHtml.push('</div>');
    beltHtml.push('</div>');
    return beltHtml.join('');
  };
};

//モデル：イベントオブジェクト
var EventObject = function(sObject, cls) {
  this._cls = cls;
  this._sObject = sObject.pk ? Object.assign(sObject, sObject.fields) : sObject;
  this._ActiveResults = null;
  
  this.getId = function() {
    return (!this._sObject.pk) ? null : this._sObject.pk;
  };
//  this.setId = function(value) {
//    this._sObject.Id = value;
//  };
  this.getStartDate = function() {
    return (!this._sObject.start_date) ? null : (new Date(this._sObject.start_date)).omitDate();
  };
  this.setStartDate = function(value) {
    this._sObject.start_date = isNaN(value) ? null : value.omitDate().getTime();
  };
  this.getEndDate = function() {
    return (!this._sObject.end_date) ? null : (new Date(this._sObject.end_date)).omitDate();
  };
  this.setEndDate = function(value) {
    this._sObject.end_date = isNaN(value) ? null : value.omitDate().getTime();
  };
  this.getContent = function() {
    return this._sObject.content;
  };
//  this.setContent = function(value) {
//    this._sObject.C_Detail__c = value;
//  };
  this.getActiveResults = function() {
    return this._ActiveResults;    
  }
  this.setActiveResults = function() {
    var actives = [];
    if (!this._sObject || !this._sObject.C_ActiveResults__r) {
      this._ActiveResults = actives;
      return;
    }
    
    jQuery.each(this._sObject.C_ActiveResults__r, function(key, sObj) {
      if (!sObj.Id || sObj.Id.length !== 18) return true;
      actives.push(sObj);
    });
    this._ActiveResults = actives;
  }
  this.setActiveResults();
};

var Calendar = function() {
  this._startDate = null;
  this._endDate = null;
  this._dayNames = CalendarUtils.getDayArray(firstDay);
  this._today = (new Date()).omitAddDate(0);
  this._currentDate = (new Date()).omitAddDate(0);
  this._isEventBubbleOpen = false;
  this._EventObjects = [];
  this._calendarRows = [];
  
  this.thisMonth = function() {
    this._currentDate = this._today.addMonth(0);
  };
  this.nextMonth = function() {
    this._currentDate = this._currentDate.addMonth(1);
  };
  this.prevMonth = function() {
    this._currentDate = this._currentDate.addMonth(-1);
  };
  
  this.eventMapping = function(sObjects) {
    cls2SObjId = [];
    sObjId2Event = [];
    var i = 0;
    jQuery.each(sObjects, function(key, sObj) {
      // if (!!sObj.Id) return true;
      var cls = 'cls' + i++;
      cls2SObjId[cls] = sObj.pk;
      sObjId2Event[sObj.pk] = new EventObject(sObj, cls);
    });
      /*
    for (var sObj in sObjects) {
      if (!sObjects[sObj].Id || sObjects[sObj].Id.length < 15) continue;
      var cls = 'cls' + i++;
      cls2SObjId[cls] = sObjects[sObj].Id;
      sObjId2Event[sObjects[sObj].Id] = new EventObject(sObjects[sObj], cls);
    }
*/
  };
  
  this.createCurrentDateLabel = function() {
    jQuery('.currentdate-label').empty();
    jQuery('.currentdate-label').append('<b>' + this._currentDate.getJapaneseYearMonthLabel() + '</b>');
  };
  this.createDaynameTable = function() {
    var daynameHtml = [];
    for (var i = 0; i < this._dayNames.length; i++) {
      daynameHtml.push('<th class="dayname">' + this._dayNames[i] + '</th>');
    }
    jQuery('.dayname-table tbody').empty();
    jQuery('.dayname-table tbody').append(daynameHtml.join(''));
  };
  this.createCalendarRows = function() {
    cls2BeltLink = [];
    jQuery('.data-container').empty();
    var year = this._currentDate.getFullYear();
    var month = this._currentDate.getMonth();
    var firstDate = CalendarUtils.getCalendarFirstDate(year, month);
    var lastDate = CalendarUtils.getCalendarLastDate(year, month);
    //リサイズ時に変更となるのでキャッシュする
    this._calendarRows = this.constructCurrentMonth(firstDate, lastDate, month);
    for (var i = 0; i < this._calendarRows.length; i++) {
      this.createRow(this._calendarRows[i]);
    }
  };
    
  this.refreshCalendarRows = function() {
    cls2BeltLink = [];
    jQuery('.data-container').empty();
    for (var i = 0; i < this._calendarRows.length; i++) {
      this.createRow(this._calendarRows[i]);
    }
  };
  this.createRow = function(row) {
    var rowHtml = [];
    rowHtml.push('<div class="month-row" style="top:' + row._top + '%;height:' + row._height + '%;">');
    rowHtml.push('<table class="bg-table">');
    rowHtml.push('<tr>');
    for (var i = 0; i < row._cells.length; i++) {
      rowHtml.push('<td class="bg-cell');
      if (row._cells[i]._date.getDay() == SATURDAY) {
        rowHtml.push(' saturday');
      }
      if (row._cells[i]._date.getDay() == SUNDAY) {
        rowHtml.push(' sunday');
      }
      if (row._cells[i]._date.isSameDate(this._today)) {
        rowHtml.push(' today-cell');
      }
      rowHtml.push('">');
      rowHtml.push('</td>');
    }
    rowHtml.push('</tr>');
    rowHtml.push('</table>');
    rowHtml.push('<table class="week-table">');
    rowHtml.push('<tr>');
    for (i = 0; i < row._cells.length; i++) {
      if (row._cells[i]._outMonth) {
        rowHtml.push('<td class="calendar-cell out-month">');
      } else {
        rowHtml.push('<td class="calendar-cell">');
      }
      rowHtml.push('<div>');
      rowHtml.push('<div class="cell-date-label">');
      rowHtml.push(row._cells[i]._date.getDate());
      rowHtml.push('</div>');
    //   if (row._cells[i]._date.getRokuyo() === '大安') {
    //     rowHtml.push('<div class="rokuyo-label taian">');
    //   } else {
    //     rowHtml.push('<div class="rokuyo-label">');
    //   }
    //   rowHtml.push('&nbsp;' + row._cells[i]._date.getRokuyo());
      // rowHtml.push('</div>');
      // rowHtml.push('<div class="add-active-link">');
      // rowHtml.push('＋');
      // rowHtml.push('</div>');
      // rowHtml.push('</div>');
      rowHtml.push('</td>');
    }
    rowHtml.push('</tr>');
    rowHtml.push(row.createBeltTable());
    rowHtml.push('</table>');
    jQuery('.data-container').append(rowHtml.join(''));
  };
  
  //指定月のカレンダーを生成します。カレンダーの行のリストを返します。
  this.constructCurrentMonth = function(firstDate, lastDate, currentMonth ) {
    var CalendarBelts = this.createBeltArray(this._EventObjects, firstDate, lastDate);
    var CalendarRows = [];
    var row = 0;
    for (var d = firstDate; d < lastDate; d = d.omitAddDate(7)){
      var CalendarCells = [];
      for (var i = 0; i < 7; i++) {
        var thisDate = d.omitAddDate(i);
        CalendarCells.push(new CalendarCell(thisDate, thisDate.getMonth() != currentMonth));
      }
      CalendarRows.push(new CalendarRow(CalendarCells, CalendarBelts[row++]));
    }
    this.setPosition(CalendarRows);
    this.setHeight(CalendarRows);
    return CalendarRows;
  };

  //週毎にsObjectを振り分けた帯のリストを返します。
  this.createBeltArray = function(sObjects, firstDate, lastDate) {
    var weekStarts = [];

    for (var d = firstDate; d < lastDate; d = d.omitAddDate(7)) {
      weekStarts.push({start : d.addDate(0), end : d.addDate(6)});
    }
  
    var belts = new Array(weekStarts.length);
    for (var i = 0; i < belts.length; i++) {
      belts[i] = [];
    }
  
    for (var j = 0 ; j < sObjects.length; j++) {
      for (var w = 0 ; w < belts.length; w++) {
        var weekStart = weekStarts[w].start;
        var weekEnd = weekStarts[w].end;
        var objStart = sObjects[j].getStartDate();
        var objEnd = sObjects[j].getEndDate();
        if (!(objEnd < weekStart || weekEnd < objStart)) {
          belts[w].push(new CalendarBelt(
            sObjects[j],
            (objStart < weekStart) ?  weekStart : objStart,
            (objEnd > weekEnd) ? weekEnd : objEnd
          ));
        }
      }
    }
    return belts;
  };
  
  this.setPosition = function(CalendarRows) {
    var atomicity = 100 / CalendarRows.length;
    for (var i = 0; i < CalendarRows.length; i++) {
      CalendarRows[i]._top = atomicity * i;
    }
  };

  this.setHeight = function(CalendarRows) {
    var atomicity = 100 / CalendarRows.length;
    for (var i = 0; i < CalendarRows.length; i++) {
      CalendarRows[i]._height = atomicity + 1;
    }
  };

  //イベント発生用コンテナ作成
  this.createEventContainer = function() {
    var width = jQuery('.data-container').outerWidth() + 'px';
    var height = jQuery('.data-container').outerHeight() + 'px';
    var divHtml = '<div class="event-container" style="width:jQuerywidth;height:jQueryheight"></div>';
    divHtml = divHtml.replace('jQuerywidth', width).replace('jQueryheight', height);
    jQuery('.event-container').remove();
    jQuery('.data-container').prepend(divHtml);
    this.createEventCalendar();
  }; 
  
  //イベント発生用カレンダー作成
  this.createEventCalendar = function() {
    var firstDate = CalendarUtils.getCalendarFirstDate(this._currentDate.getFullYear(), this._currentDate.getMonth());
    var lastDate = CalendarUtils.getCalendarLastDate(this._currentDate.getFullYear(), this._currentDate.getMonth());
    var row = 0;
    var atomicity = 100 / (CalendarUtils.getAmongDates(firstDate, lastDate)/7);
    var CalendarHtml = [];
    
    for (var d = firstDate; d < lastDate; d = d.omitAddDate(7)){
      var top = atomicity * row + '%';
      var height = atomicity + 0.2 + '%';
      CalendarHtml.push('<div class="month-row" style="top:'+ top +';height:' + height + ';">');
      CalendarHtml.push('<table class="event-Calendar">');
      CalendarHtml.push('<tr>');
      for (var i = 0; i < 7; i++) {
        var thisDate = d.omitAddDate(i);
        if (this.isSelectedArea(thisDate)) {
          CalendarHtml.push('<td class="selectedCell">');
        } else {
          CalendarHtml.push('<td>');
        }
        CalendarHtml.push('<input type="hidden" class="cell-time-data" value="' + thisDate.getTime() + '"/>');
        CalendarHtml.push('</td>');
      }
      CalendarHtml.push('</tr>');
      CalendarHtml.push('</table>');
      CalendarHtml.push('</div>');
      row++;
    }
    jQuery('.event-container').empty();
    jQuery('.event-container').prepend(CalendarHtml.join(''));
  };
  
  this.isSelectedArea = function(date) {
    if (this._startDate === null || this._endDate === null) {
      return false;
    }
    if (this._startDate < this._endDate) {
      return this._startDate <= date &&  date <= this._endDate;
    } else {
      return this._endDate <= date &&  date <= this._startDate;
    }
  };

  this.showInputBubble = function(e) {
    this._isEventBubbleOpen = true;
    var eventObj = new EventObject({});
    eventObj.setStartDate(this._startDate);
    eventObj.setEndDate(this._endDate);
    eventBubble = new EventBubble(jQuery('.event-bubble'), eventObj);
    eventBubble.open(e);
  };
  
  this.showUpdateBubble = function(e, cls) {
    this._isEventBubbleOpen = true;
    var sObjId = cls2SObjId[cls];
    eventBubble = new EventBubble(jQuery('.event-bubble'), sObjId2Event[sObjId]);
    jQuery('#buttons').append('<input id="delete-button" value="削除" type="button" onclick="deleteSchedule();"/>');
    eventBubble.open(e);
  };
  
  /*
  this.showUpdateActiveBubble = function(activeId) {
    Visualforce.remoting.Manager.invokeAction(
      '{!jQueryRemoteAction.CalendarController.getActive}' ,
      activeId ,
      function(result, event) {
        var activeObj = new ActiveObject(result);
        activeBubble = new ActiveBubble(jQuery('.active-bubble'), activeObj);
        activeBubble.open();
    });
  }
  */
      
  this.hideEventBubble = function() {
    this._isEventBubbleOpen = false;
    this._startDate = null;
    this._endDate = null;
    if (eventBubble !== null) {
      eventBubble.close();
      eventBubble = null;
    }
  };
  
  this.hideBeltsLinkBubble = function() {
    jQuery('.belts-link-bubble').addClass('display-out').empty();
  };
  
  //イベント発生用コンテナのサイズ変更
  this.resizeEventContainer = function() {
    var width = jQuery('.data-container').outerWidth() + 'px';
    var height = jQuery('.data-container').outerHeight() + 'px';
    jQuery('.event-container').width(width);
    jQuery('.event-container').height(height);
  };
  
  //選択セルの色付け開始
  this.mousedownCell = function(date) {
    this.hideEventBubble();
    this.hideBeltsLinkBubble();
    this._startDate = date;
    this._endDate = date;
  };
  
  //選択セルの色付け
  this.mousemoveCell = function(date) {
    if (this._isEventBubbleOpen || this._startDate === null) return;
    this._endDate = date;
  };
  
  //選択セルの色付け終了
  this.mouseupCell = function(e) {
    if (this._startDate === null || this._endDate === null) {
      return false;
    }
    if (this._startDate > this._endDate) {
      var tempDate = this._startDate;
      this._startDate = this._endDate;
      this._endDate = tempDate;
    }
    this.showInputBubble(e);
  };
};

//イベントバブル(イベントポップアップ画面)
var EventBubble = function(jThis, sObject) {
  this._jThis = jThis;
  this._event = sObject;
  
  this.initialize.apply(this,[]);
  
  this.insert = function() {
    calendar.hideEventBubble();
    calendar.hideBeltsLinkBubble();
    refresh();
  };
  
  this.move = function(x, y) {
    //widthを正しく取れない不具合のため再セレクト
    this._jThis = jQuery(this._jThis.selector);
    
    //画面中央
    var sfdcX = 10;
    var sfdcY = -100;
    this._jThis.css("left", ( jQuery(window).width() - this._jThis.width() ) / 2 + jQuery(window).scrollLeft() + sfdcX + "px");
    this._jThis.css("top", ( jQuery(window).height() - this._jThis.height() ) / 2 + jQuery(window).scrollTop() + sfdcY + "px");

    //クリック位置
//    var sfdcX = 10;
//    var scrollLeft = jQuery(document).scrollLeft();
//    var left = x - this._jThis.outerWidth()/2 - sfdcX + scrollLeft;
//    if (left <= 0) {
//      left = sfdcX;
//    } else if ( x + this._jThis.outerWidth()/2 - sfdcX + scrollLeft >= jQuery('.calendar').outerWidth()) {
//      left = jQuery('.calendar').outerWidth() - this._jThis.outerWidth() + sfdcX;
//    }
//    
//    var distance = 5;
//    var sfdcY = -100;
//    var scrollTop = jQuery(document).scrollTop();
//    var top;
//    if (y - this._jThis.outerHeight() - distance + sfdcY + scrollTop <= 0) {
//      top = y + distance + sfdcY + scrollTop;
//    } else {
//      top = y - this._jThis.outerHeight() - distance + sfdcY + scrollTop;
//    }
//    
//    this._jThis.css('left', left);
//    this._jThis.css('top', top);
  };
  
  this.open = function(e) {
    this.buttonSetting();
    this.move(e.clientX, e.clientY);
    this._jThis.removeClass('display-out');
  };
  
  this.buttonSetting = function() {
    if (!this._event.getId()) {
      jQuery('.promo-btn-regist').val('登録');
      jQuery('.promo-btn-refer').addClass('display-none');
      jQuery('.promo-btn-remove').addClass('display-none');
      jQuery('.promo-btn-arlist').addClass('display-none');
    } else {
      jQuery('.promo-btn-regist').val('更新');
      jQuery('.promo-btn-refer').removeClass('display-none');
      jQuery('.promo-btn-remove').removeClass('display-none');
      jQuery('.promo-btn-arlist').removeClass('display-none');
    }
  };
  
  this.close = function() {
    this._jThis.addClass('display-out');
    this.htmlClean();
  };
  
  this.reload = function() {
    this.htmlClean();
    this.initialize();
    promoFormReload();
  }
  
  this.htmlClean = function() {
    jQuery('#promo-id').val(null);
    jQuery('#promo-start').val(null);
    jQuery('#promo-end').val(null);
    jQuery('#promo-content').val(null);
    jQuery('#delete-button').remove();
    this.returnDefault();
  };
  
  this.returnDefault = function() {
    //SFDC標準仕様のエラー状態を解除
    jQuery('.event-bubble').find('input.error').removeClass('error');
    jQuery('.event-bubble').find('.errorMsg').remove();
    
    //日付ピッカーを閉じる
    jQuery('.datePicker').css('display', 'none');
  }
      
  this.reloadOncomplete = function() {
      this.returnDefault();
      this.initialize();
      this.buttonSetting();
  }
};

//EventBubbleをnewした場合のコンストラクタ
EventBubble.prototype.initialize = function() {
  jQuery('#promo-id').val(this._event.getId());
  jQuery('#promo-start').val(this._event.getStartDate().dateToString());
  jQuery('#promo-end').val(this._event.getEndDate().dateToString());
  jQuery('#promo-content').val(this._event.getContent());
};

//起点
var jSearchPromo;
var jSearchAcc;
var jSearchManekin;
var preJSearchPromoVal;
var preJSearchAcc;
var preJSearchManekin;

var calendar = new Calendar();
var eventBubble = null;
    
jQuery(function(){
  main();
  $('#main-form').submit(function() {
    if(jQuery('#promo-start').val() > jQuery('#promo-end').val()){
      alert('日付が不正です');
      return false; 
    }
    jQuery.ajax({
      type:"POST",
      url:"{% url 'save_schedule' %}",
      data:jQuery("form#main-form").serialize(),
      dataType:"json",
      success:function(response){
        calendar.hideEventBubble();
        main();
      }
    });
    return false;
  });
});

//============ ajax周り設定処理 start =============
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
          var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
          }
      }
  }
  return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
jQuery.ajaxSetup({
  beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
  }
});
//============ ajax周り設定処理 end =============

// jQuery('#main-form').submit(function() {
//   jQuery('#result').html('');
//   jQuery.ajax({
//     'url':'{% url "save_schedule" %}',
//     'type':'GET',
//     'data':{
//         'startDate':jQuery('#promo-start-date').val(),
//     },
//     'dataType':'json',
//     'success':function(response){
//         // jQuery.each(response.result_list, function(index, title) {
//         //     jQuery('#result').append('<p>'+ title +'</p>')
//         // });
//         alert(2);   
//     },
//   });
//   return false;
// });
// jQuery('#postform').submit(function() {
//   jQuery.ajax({
//     'url':'{% url "save_schedule" %}',
//     'type':'POST',
//     'data':{
//         'startDate':jQuery('#promo-start-date').val(),
//     },
//     'dataType':'json',
//     'success':function(r){
//         // message = 'pk→' + r.pk +  '\ntitle→' + r.title + '\n日付→'+ r.created_at;
//         alert(1);           
//     },
//   });
//   return false;
// });

//メイン処理
function main() {
  setSearchObjs();
  setPreSarchIds();
  calendar._EventObjects = [];
  var firstDate = CalendarUtils.getCalendarFirstDate(calendar._currentDate.getFullYear(), calendar._currentDate.getMonth());
  var lastDate = CalendarUtils.getCalendarLastDate(calendar._currentDate.getFullYear(), calendar._currentDate.getMonth());
  
  // Scheduleデータの取得
  jQuery.ajax({
    type:"GET",
    url:"{% url 'get_schedule' %}",
    dataType:"json",
    success:function(response){
      if(response){
        calendar.eventMapping(response);
        for(var j in sObjId2Event) {
          calendar._EventObjects.push(sObjId2Event[j]);
        }
      }
      drawCalendar();
    }
  });
}

function setSearchObjs() {
  jSearchPromo = jQuery('.search-promo').parent('.lookupInput').parent().find('input:hidden:eq(0)');
  jSearchAcc = jQuery('.search-acc').parent('.lookupInput').parent().find('input:hidden:eq(0)');
  jSearchManekin = jQuery('.search-manekin').parent('.lookupInput').parent().find('input:hidden:eq(0)');
}

function setPreSarchIds() {
  preJSearchPromoVal = jSearchPromo.val();
  preJSearchAcc = jSearchAcc.val();
  preJSearchManekin = jSearchManekin.val();
}

function setSerchEvent() {
  //changeイベントの前にsfdcのイベントでIDが消されてしまうの時間を空けてリフレッシュ
  jQuery('.search-promo').bind("change", function(){
    setTimeout(serchIdChangeCheck, 5);
  });
  jQuery('.search-acc').bind("change", function(){
    setTimeout(serchIdChangeCheck, 5);
  });
  jQuery('.search-manekin').bind("change", function(){
    setTimeout(serchIdChangeCheck, 5);
  });
}

function serchIdChangeCheck() {
  if (jSearchPromo.val() != preJSearchPromoVal ||
    jSearchAcc.val() != preJSearchAcc ||
    jSearchManekin.val() != preJSearchManekin
  ) {
    setPreSarchIds();
    refresh();
  }
}

//カレンダーを描画
function drawCalendar() {
  calendar.createCurrentDateLabel();
  calendar.createDaynameTable();
  calendar.createCalendarRows();
  calendar.createEventContainer();
  setWindowEvent();
  setCellEvent();
  setBeltLinkEvent();
  setBeltEvent();
  setBubbleEvent();
  setSerchEvent();
}

//最新状態に画面更新
function refresh() {
  main();
}

function setWindowEvent() {
  jQuery(window).resize(function(e) {    
    calendar.refreshCalendarRows();
    calendar.createEventContainer();
    setCellEvent();
    setBeltLinkEvent();
    setBeltEvent();
  });
  jQuery(document).mousedown(function(e) {
    calendar.hideEventBubble();
    calendar.hideBeltsLinkBubble();
  });
  jQuery(document).mouseup(function(e) {
    calendar.mouseupCell(e);
    calendar.createEventCalendar();
  });
  jQuery('.datePicker').mousedown(function(e) {
    e.stopPropagation();
  });
  //マウスホイールイベント
  if (document.getElementById('calendar').addEventListener) document.getElementById('calendar').addEventListener('DOMMouseScroll', wheel, false);
  document.getElementById('calendar').onmousewheel = wheel;
}

function wheelhandle(delta) {
  if (delta < 0) calendar.nextMonth();
  else calendar.prevMonth();
  refresh();
}

function wheel(event){
  var delta = 0;
  if (!event) event = window.event; //For IE
  
  if (event.wheelDelta) { // For IE/Opera
    delta = event.wheelDelta/120;
  } else if (event.detail) { // For Mozilla
    // MozillaはIEとはdelta値の符号が異なり、返す値も３刻み
    delta = -event.detail/3;
  }
  if (delta) wheelhandle(delta);

  if (event.preventDefault) event.preventDefault();
  event.returnValue = false;
}

function setCellEvent() {
  jQuery('.event-container').mousedown(function(e) {
    var jTargetTime = jQuery(e.target).find('.cell-time-data').val();
    calendar.mousedownCell(new Date(1 * jTargetTime));
    calendar.createEventCalendar();
    e.stopPropagation();
  });
  jQuery('.event-container').mousemove(function(e) {
    var jTargetTime = jQuery(e.target).find('.cell-time-data').val();
    calendar.mousemoveCell(new Date(1 * jTargetTime));
    calendar.createEventCalendar();
  });
}

function setBeltEvent() {
  for (var cls in cls2SObjId) {
    clickBelt(cls);
  }
  jQuery('.calendar-belts').mousedown(function(e) {
      //なくても動くので最終的にコメントアウトされているなら消してＯＫ
      //calendar.hideActiveBubble();
      //calendar.hideBeltsLinkBubble();
  });
}

function clickBelt(cls) {
  jQuery('.' + cls).click(function(e) {
    calendar.hideEventBubble();
    calendar.showUpdateBubble(e, cls);
    e.stopPropagation();
  });
}

function setBeltLinkEvent() {
  for (var cls in cls2BeltLink) {
    clickBeltLink(cls);
  }
  jQuery('.belts-link-bubble').mousedown(function(e) {
    e.stopPropagation();
  });
}

function clickBeltLink(cls) {
  jQuery('.' + cls).click(function(e) {
    var bLink = cls2BeltLink[cls];
    bLink.showBeltsBubble(e);
    setBeltEvent();
    e.stopPropagation();
  });
}

function setBubbleEvent() {
  jQuery('.event-bubble').mousedown(function(e) {
    e.stopPropagation();
  });
  jQuery('.event-bubble').mouseup(function(e) {
    e.stopPropagation();
  });
}

function deleteSchedule() {
  jQuery.ajax({
    type:"POST",
    url:"{% url 'delete_schedule' %}",
    data:jQuery("form#main-form").serialize(),
    dataType:"json",
    success:function(response){
      calendar.hideEventBubble();
      calendar.hideBeltsLinkBubble();
      main();
    }
  });
}

//今月ボタンクリックイベント
function thisMonth() {
  calendar.thisMonth();
  refresh();
}

//前月(<)ボタンクリックイベント
function prevMonth() {
  calendar.prevMonth();
  refresh();
}

//次月(>)ボタンクリックイベント
function nextMonth() {
  calendar.nextMonth();
  refresh();
}

</script>
</head>
<body>
<div id="calendar" class="calendar">
  <div>
    <div class="main-container">
        <table class="button-table">
            <tbody>
            <tr>
                <td class="date-nav-today">
                <div class="daily-button daily-button-today" onclick="thisMonth()">今月</div>
                </td>
                <td class="date-nav-prev">
                <div class="daily-button daily-button-prev" onclick="prevMonth()">＜</div>
                </td>
                <td class="date-nav-next">
                <div class="daily-button daily-button-next" onclick="nextMonth()">＞</div>
                </td>
                <td class="date-nav-label">
                <div class="currentdate-label"></div>
                </td>
                <td class="view-condition-col">
                <!--<div class="view-condition-label">表示条件</div>-->
                </td>
                <td class="date-nav-search">
                <!-- <apex:form >
                    <apex:pageBlock >
                    <apex:pageBlockSection columns="5" >
                        <apex:inputField value="{!ForSearchObj.C_PromotionSearch__c}" styleClass="search-promo" required="false"/>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <apex:inputField value="{!ForSearchObj.C_AccountSearch__c}" styleClass="search-acc" required="false"/>
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <apex:inputField value="{!ForSearchObj.C_ManekinSearch__c}" styleClass="search-manekin" required="false"/>
                    </apex:pageBlockSection>
                    </apex:pageBlock>
                </apex:form> -->
                </td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <table class="dayname-table">
            <tbody>
            </tbody>
        </table>
        <div class="data-container">
        </div>
  </div>

  <div class="belts-link-bubble display-out">
  </div>

  <form id="main-form" action="" method="POST">
    {% csrf_token %}
    <div class="event-bubble display-out">
      <div onclick="calendar.hideEventBubble();" style="position: absolute; right: 12px; top: 0px; cursor: pointer;">×</div>
      {{ form.pk }}
      期間:{{ form.startDate }}&nbsp;～&nbsp;{{ form.endDate }}
      <br/>{{ form.content.label }}:{{ form.content }}
      <div id="buttons">
        <input type="submit" value="保存"></input>
      </div>
    </div>
  </form>

  <!-- <div class="arlist-bubble display-out">
  </div>
    
  <div class="active-bubble display-out">
  </div> -->

</div>
</body>
</html>